.button{
  background: var(--purple);
  color: var(--white);
  font: var(--button);
  padding-inline: 1.5rem;
  padding-block: 0.8125rem;
  border-radius: 0.25rem;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.button.button-secondary{
  background: unset;
  color: var(--purple);
  border: 0.125rem solid var(--purple);
}