.button-icon{
  padding: 0.625rem;
  border-radius: 0.25rem;
  border: 0.125rem solid var(--purple);
  background: var(--white);
  text-decoration: none;
  display: inline-block;
}

.button-icon img{
  vertical-align: middle;
}