.project{
  padding-block: 40px;
  margin-block-end: 40px;
}

.project-image img{
  max-inline-size: 100%;
}

.project-description{
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.project-description .title{
  margin-block-start: 40px;
}

.project-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.project-buttons a{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width:768px) {
  .project{
    padding-block: 80px;
    margin-block-end: 80px;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .project-buttons{
    flex-direction: row;
    justify-content: flex-start;
  }

  section.testimony div.project:nth-child(3) {
    flex-direction: row-reverse;
  }
  
  .project-image{
    order: 2;
    flex: 1;
    text-align: center;
  }

  .project-description{
    flex: 1;
  }

  .project-description .title{
    margin-block-start: 0;
  }
}